.active{
  
        background-color: rgba(25, 118, 210, 0.16);
    
}


.nav-shoadow{
    background-color: rgba(25, 118, 210, 0.053);
    box-shadow: 1px 1px 4px  1px rgba(0, 0, 0, 0.151) !important;
}

.dashboard-nav-btn{
  
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 4s ease-in !important;
    cursor: pointer;
    &:hover{
        transition: all 4s ease-in !important;
        background-color: #1c64c2f1;
        width: 8%;
    }
    &.active{
        background-color: rgba(6, 46, 85, 0.16);
    }
    .icon{
        font-size: 50px;
    }
}

.tolbar-transition{
    transition: all 4s ease-in !important;
}